<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <style>
        .container {
            text-align: center;
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Hayvanım Nerede?</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
           <a class="nav-link" href="/about">About</a>
          </li>  
          </ul>
          <form class="d-flex" role="search">
           <input class="form-control me-2" type="search" placeholder="arkadaşını ara" aria-label="Search">
           <button class="btn btn-outline-success" type="submit">Ara</button>
          </form>
        </div>
       </div>
    </nav>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
        <h1 class="display-4"><center>HAYVANIM NEREDE?</center></h1>
        <p class="lead"><center>Arkadaşlarınızı bulmaya yardım ediyoruz.</center></p>
        <br>
        <br>
        <br>
        <br>
<div class="container">
    <form>
        <label for="ad">Ad:</label>
        <input type="text" id="ad" name="ad" ><br><br>

        <label for="soyad">Soyad:</label>
        <input type="text" id="soyad" name="soyad"><br><br>

        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email"><br><br>

        <label for="il">İl:</label>
        <input type="text" id="il" name="il"><br><br>

        <label for="ilce">İlçe:</label>
        <input type="text" id="ilce" name="ilce"><br><br>

        <label for="telefon">Telefon:</label>
        <input type="tel" id="telefon" name="telefon"><br><br>

        <input type="submit" value="Üye Ol">
    </form>
    </div>
        </div>
    </div>
   
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

    <img src="https://cdn.pixabay.com/photo/2020/06/21/15/14/cats-paw-5325371_1280.png" class="img-fluid"  >
 </body>
</html>